<div id="show-user">
  <div class="profile-avatar">
    <%= isset_avatar(@user.avatar_url) %>
  </div>
  <% unless @user.name.nil? %>
    <div class="name-user">
      <%= @user.name %>
    </div>  
  <% end %>
  <div class="typeuser-user">
    <%= type_user(@user) %>
  </div>
  <div class="email-user">
    e-mail: <%= @user.email %>
  </div>
  <div class="created-at-user">
    Дата регистрации: <%= @user.created_at.to_date %>
  </div>
  <div class="description-user">
    <h2 class="description-user-title">О себе:</h2>
    <%= description_user(@user)%>
  </div>
  <div class="clear"></div>
  <h1 class="gallery-user-title">Работы пользователя</h1>
  <div id="arrow-left-g">
    <img src="/assets/arrow-left.png" alt="">
  </div>
  <div id="gallery-user">
    <ul>
      <% @user.jobs.each do |j| %>
        <%= image_tag(j.image_url(:thumb)) %>
      <% end %>
    </ul>
  </div>
  <div id="arrow-right-g">
    <img src="/assets/arrow-right.png" alt="">
  </div>
  <div class="clear"></div>
</div>