<div id="add-comment-link">
  Добавить комментарий
</div>
<div id="form-comment">
  <% if current_user %>
	  <%= form_for([@job, @comment], :remote => true) do |f| %>
			<div class="field">
	  		<%= f.text_area :text, :rows => 5 %><br />
			</div>
	  	<%= f.hidden_field :job_id, :value => @job.id %>
	  	<%= f.hidden_field :user_id, :value => current_user.id %>
			<div class="button">
	  		<%= f.submit "Добавить комментарий" %>
			</div>
	  <% end %>  
	<% else %>
	  <div id="add-comment-no-user">
	    Только зарегистрированные пользователи могут оставлять комментарии.
	    Пожалуйста войдите
	  </div>
	<% end %>
</div>
  