<!-- sidebar -->
<div id="sidebar">
  <% if current_user %>
    <%= link_to "Загрузить работу", new_job_path, :class => "button-upload" %>
  <% end %>
  <h1 class="title-category">Пользователи</h1>
  <div class="content-sidebar">
    <ul>
      <li><%= link_to "Все", users_path %></li>
      <li><%= link_to "Все дизайнеры", designers_users_path %></li>
      <li><%= link_to "Все фоторграфы", photographers_users_path %></li>
    </ul>
  </div>
  <div class="content-sidebar">
    <ul>
      <li><%= link_to "О нас", about_path %></li>
      <li><%= link_to "Контакты", contacts_path %></li>
    </ul>
  </div>
  <a href="#" class="title-category" id="live-click">Прямой эфир</a>
  <div class="content-sidebar">
    <ul class="live-comments">
      <% @ten_comments.each do |c| %>
        <li>
          <span class="live-c-user"><%= isset_avatar(c.user.avatar_url) %><%= name_in_header(c.user) %> </span>
          <span class="say-user-text">→</span>
          <span class="live-job-title"><%= link_to c.job.title, job_path(c.job, :anchor => "comment_#{c.id.to_s}")%></span>
        </li>
      <% end %>
    </ul>
  </div>
  
</div>